/* =============
    Google Map
============= */

#contact-map{

    #map{
        width: 100%;
        height: 300px;
        background-color: $sea-foam;

        @include md{
            height: 500px;
        }

        @include lg{
            height: 600px;
        }

        @include xl{
            height: 700px;
        }
    }
}

#contact-form{
    background-color: $sea-foam;


    @include md {
        display: grid;
        grid-template-columns: auto 60% auto;
        grid-template-areas: ". form .";
    }

    >div{

        @include md {
            grid-area: form;
        }

        #contact-button-section {
            display: grid;
            place-items: center;
            height: 200px;

            @include md {
                height: 300px;
            }

            @include lg {
                height: 400px;
            }

            #button-container {
                position: relative;
                transition: 0.5s;

                &:hover {
                    #contact-options {
                        opacity: 1;
                        pointer-events: auto;
                    }
                }

                #contact-us-btn {
                    border: none;
                    transition: 0.25s;
                }

                #contact-options {
                    pointer-events: none;
                    transition: 0.5s;
                    opacity: 0;
                    background-color: $white;
                    position: absolute;
                    top: 100%;
                    left: 0%;
                    background-color: $white;
                    width: 100%;

                    @include md {
                        top: -25%;
                        left: 90%;
                    }

                    a:link,
                    a:visited {
                        background-color: $white;
                        color: $red;
                        font-size: rem-calc(16);
                        width: 90%;
                        transition: 0.25s;
                        padding: 10% 5%;
                        display: inline-block;

                        @include md {
                            font-size: rem-calc(20);
                            padding: 5%;
                        }

                        i {
                            margin-right: 10px;
                        }

                        &:hover,
                        &:active {
                            color: $white;
                            background-color: $red;
                        }
                    }

                    button {
                        border: none;
                        background-color: $white;
                        width: 100%;
                        color: $red;
                        transition: 0.25s;
                        padding: 10% 5%;
                        text-align: left;
                        font-size: rem-calc(16);

                        @include md {
                            font-size: rem-calc(20);
                            padding: 5%;
                        }

                        i {
                            margin-right: 10px;
                        }

                        &:hover {
                            color: $white;
                            background-color: $red;
                        }
                    }
                }
            }
        }


        #form-container{

            display: none;
       
            form{
                display: grid;
                gap:20px;
        
                @include md {
                    grid-template-columns: repeat(2, 1fr);
                    grid-template-areas:
                        "name email"
                        "local phone"
                        "message message"
                        ". send";
                }
        
                section{
        
                    background-color: $white;
                    width: 96%;
                    padding: 0 2%;
                    border-bottom: 1px solid $dark-blue;
        
        
                    input{
                        border: none;
                        width: 100%;
                        padding: 4% 0;
                    }
        
                    textarea {
                        border: none;
                        height: 300px;
                        width: 100%;
                        padding: 0;
                    }
                }
        
        
        
        
                section:nth-child(1) {
                    @include md {
                        grid-area: name;
                    }
                }
        
                section:nth-child(2) {
                    @include md {
                        grid-area: email;
                    }
                }
        
                section:nth-child(3) {
                    @include md {
                        grid-area: local;
                    }
                }
        
                section:nth-child(4) {
                    @include md {
                        grid-area: phone;
                    }
                }
        
                section:nth-child(5) {
                    @include md {
                        grid-area: message;
                    }
                }
        
                section:nth-child(6) {
                    @include md {
                        grid-area: send;
                    }
    
                    background-color: transparent;
                    text-align: right;
                    border-bottom: none;
    
                    button{
                        border: none;
                    }
                }
        
            }
        }
    }



    
}


