/* =============
    Index Content
============= */
/* --------------------------
    Index Hikes
 --------------------------*/
#index-hikes {
    
}

/* --------------------------
    Index Hero
 --------------------------*/
#index-hero {
    img {
        object-fit: cover;
        width: 100vw;
    }
}

/* --------------------------
    Index Brands
 --------------------------*/
#index-brands {
    padding: 20px 0;

    @include md {
        padding: 30px 0;
    }

    @include lg {
        padding: 40px 0;
    }

    >div {
        ul {
            display: grid;
            gap: 20px;
            grid-template-areas: "l1 l1 l2 l2"
                "l3 l3 l4 l4"
                ". l5 l5 .";
            grid-template-columns: repeat(4, 1fr);

            @include md {
                grid-template-areas: "l1 l1 l2 l2 l3 l3"
                    ". l4 l4 l5 l5 .";
                grid-template-columns: repeat(6, 1fr);
            }

            @include lg {
                grid-template-areas: "l1 l2 l3 l4 l5";
                grid-template-columns: repeat(5, 1fr);
            }

            li {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            li:nth-child(1) {
                grid-area: l1;
            }

            li:nth-child(2) {
                grid-area: l2;
            }

            li:nth-child(3) {
                grid-area: l3;
            }

            li:nth-child(4) {
                grid-area: l4;
            }

            li:nth-child(5) {
                grid-area: l5;
            }
        }
    }
}


/* --------------------------
    Index Planning
 --------------------------*/
 #index-planning {
    background-color: $blue;
    color: $green;

    >div{
        // border: 1px solid red;
        position: relative;


        #card {
            background-color: $green;
            border-radius: 10px;
            bottom: -150px;
            color: $blue;
            display: none;
            padding: 24px;
            position: absolute;
            right: 10%;
            text-align: center;

            @include lg {
                display: block;
            }

            div {
                align-items: center;
                background-color: $blue;
                border-radius: 100px;
                color: $sea-foam;
                display: flex;
                font-size: rem-calc(25);
                height: 50px;
                justify-content: center;
                margin: 0 auto;
                width: 50px;
            }

            h2 {
                font-size: rem-calc(25);
                font-weight: 400;
            }

            h2:first-of-type {
                padding-top: 20px;
            }

            h2:last-of-type {
                padding-bottom: 30px;
            }
        }


        article{

            text-align: justify;

            p{
                @include md {
                    padding-right: 40vw;
                }
    
                @include lg {
                    padding-right: 60vw;
                }
    
                @include xl {
                    padding-right: 1000px;
                }
            }

        }

        #planning-hero {
            display: grid;
            grid-template-areas: ". planning-hero .";
            grid-template-columns: auto 90% auto;
            margin-top: 30px;

            @include md {
                grid-template-columns: auto 80% auto;
            }

            @include lg {
                grid-template-columns: auto 60% auto;
            }

            >div {
                background-image: url("../img/home/planning/planning.jpg");
                background-position: center;
                background-size: cover;
                border-radius: 17px;
                grid-area: planning-hero;
                height: 300px;

                @include md {
                    height: 450px;
                }

                @include lg {
                    height: 500px;
                }

                @include xl {
                    height: 600px;
                }
            }
        }
    }
 }  


 /* --------------------------
    Index Weather
 --------------------------*/
 #index-weather{

    @include xl{
        grid-template-columns: auto 1000px auto;
    }

     >div{
         display: grid;
         gap: 20px;

         @include md{
             grid-template-columns: 60% auto;
         }

         section{
             article{
                 margin-bottom: 20px;

                 h2{
                    color: $aqua;
                    font-size: rem-calc(20);

                    @include md {
                        font-size: rem-calc(22);
                    }
                 }

                 p{

                 }
             }
         }

         aside{

            @include xl{
                display: flex;
                align-items: center;
                height: 100%;
            }


             ul{
                 display: grid;
                 grid-template-columns: repeat(2, 1fr);
                 gap:20px;

                 @include md{
                    grid-template-columns: repeat(1, 1fr);
                 }
                 @include lg{
                    grid-template-columns: repeat(2, 1fr);
                 }
                 @include xl{
                    grid-template-columns: repeat(4, 1fr);
                    height: 100%;
                 }
                 li{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                 }
             }
         }
     }
 }